/* Geral*/
@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--color3);
    box-sizing: border-box;
}

:root {
    --color1: #A04AD9;
    --color2: #BF8DF2;
    --color3: #1A1040;
    --color4: #4333A6;
    --color5: #C2BFD9;
}

body {
    background-image: url(../img/background.jpg);
    background-position: center center;
    background-size: cover;
    height: 100vh;
    
}

button {
    background-color: #fff;
    color: var(--color3);
    border: 2px solid var(--color4);
    border-radius: 10px;
    padding: 0.3em 0.6em;
    font-size: 1em;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
}

button:hover {
    background-color: var(--color2);
    border: 2px solid var(--color1);
    color: #FFF;
}

button:hover > i {
    color: #fff;
}

button i {
    color: var(--color4);
    font-weight: bold;
    pointer-events: none;
}

input, select {
    padding: 0.25em 0.5em;
}

::placeholder {
    color: #1a104093;
}

#todo-input {
    border-radius: 10px;
    border: 2px solid var(--color4);
}

#edit-input {
    border-radius: 10px;
    border: 2px solid var(--color4);
}

.hide {
    display: none;
}

/* To Do header */
.todo-container {
    max-width: 450px;
    margin: 3em auto;
    background-color: #fdfdfd;
    padding: 1.5em;
    border-radius: 15px;
    box-shadow: 2px 2px 15px var(--color5);
}

.todo-container header {
    text-align: center;
    padding: 0 1em 1em;
    border-bottom: 1px solid var(--color5);
}

/* To Do form */

#todo-form, #edit-form {
    padding: 1em;
    border-bottom: 1px solid var(--color5);
}

#todo-form p, #edit-form p {
    margin-bottom:  0.5em;
    font-weight: bold
}

.form-control {
    display: flex;
}

.form-control input {
    margin-right: 0.3em;
}

#cancel-edit-btn {
    margin-top: 1em;
    color: var(--color3);
    font-weight: 500;
}

#cancel-edit-btn:hover {
    background-color: var(--color2);
    color: #FFF;
}

/* To Do toolbar 

#toolbar {
    padding: 1em;
    border-bottom: 1px solid #ccc;
    display: flex;
}

#toolbar h4 {
    margin-bottom: 0.5em;
}

#search {
    border-right: 1px solid #DDD;
    padding-right: 1em;
    margin-right: 1em;
    width: 65%;
    display: flex;
    flex-direction: column;
}

#search form {
    display: flex;
}

#search input {
    width: 100%;
    margin-right: 0.3em;
}

#filter {
    width: 35%;
    display: flex;
    flex-direction: column;
}

#filter select {
    flex: 1;
}*/


/* To Do list */
.todo {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1em;
    border-bottom: 1px solid #ddd;
    transition: 0.3s;
}

.todo h3 {
    flex: 1;
    font-size: 0.9em;
}

.todo button {
    margin-left: 0.4em;
}

.done {
    background-color: var(--color1);
}

.done h3 {
    color:#fff;
    text-decoration: line-through;
    font-style: italic;
}